extends layout 

block content
	div
	h1.title-header ABOUT
	#about_desc.wrapper_desktop
		div
			p
				| Authoritatively unleash integrated materials vis-a-vis prospective systems. Globally re-engineer go forward testing procedures after holistic products. Completely architect innovative paradigms with next-generation infrastructures. Efficiently morph enterprise-wide processes for principle-centered collaboration and idea-sharing. Progressively impact progressive meta-services after magnetic potentialities.
			br
			p
				| Phosfluorescently optimize cooperative infrastructures without user friendly leadership. Enthusiastically restore focused leadership rather than go forward niches. Intrinsicly brand fully tested e-tailers with functionalized networks. Compellingly recaptiualize pandemic deliverables after extensive supply chains. Efficiently deploy future-proof users with revolutionary web-readiness.
		div
			img(src='img/sample/about_sample_img.jpg', alt='about')
