extends layout

block content
    #login-form.wrapper_desktop
        h1.title-header Forgot Password
        form(action='/account/forgot', method='POST')
            label(for='email') User Name/Email
            input(type='text', name='email')
            input(type='submit', value='Send Reset')
            p
                | Return to 
                a(href='/login') login form